.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-varient);
}

.contact-option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-white);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-light);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-light);;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-light);
}

/* Media Quries(Medium Devices) */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* Media Quries(Small Devices) */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
    
    .container.contact__container {
        width: var(--container-width-sm);
    }
}