header{
    /* height: 100vh; */
    padding-top: 7rem;
    overflow: hidden;
    background-image: url(../../assests/bg.png);
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}  

/* CTA */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Image */

.me{
    background: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50%-11rem);
    /* left: 36%; */
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* Scroll */

.scroll__down{
    position: absolute;
    right: -2.3rem;
    /* right:25%; */
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* Media Quries(Medium Devices) */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    header{
        height: 68vh;
    }
}

/* Media Quries(Small Devices) */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
    
    header{
        height: 100vh;
    }
    .header__socials,
    .scroll__down{
        display: none;
    }
}