footer {
    background: var(--color-primary);
    margin-top: 6.5rem;
    text-align: center;
    font-size: 17px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
  }
  
  .grid-item {
    text-align: left;
  }
  
  h3 {
    color: var(--color-bg-variant);
    font-weight: 600;
  }
  
  .grid-item ul {
    list-style: none;
    padding: 0;
  }
  
  .grid-item .effect {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  /* Hover Effect Start  */
  
  .grid-item .effect:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: var(--color-bg-variant);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 6px;
  }
  
  .grid-item .effect:hover:after {
    width: 100%;
    background-color: var(--color-bg);
  }
  
  .copyright {
    font-size: 16px;
    margin-top: 10px;
  }
  
  input[type="email"] {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .grid-item button {
    background-color: #209702;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .grid-item button:hover {
    background-color: var(--color-bg-variant);
  }
  
  .footer__socials{
      display: flex;
      gap: 1rem;
      margin-bottom: 4rem;
      margin-top: 0.5rem;
  }
  
  .footer__socials a {
      background: var(--color-bg-variant);
      color: var(--color-white);
      padding: 0.8rem;
      border-radius: 0.7rem;
      display: flex;
      border: 1px solid transparent;
  }
  
  .footer__socials a:hover {
      background: transparent;
      color: var(--color-bg-variant);
      border-color: var(--color-bg-variant);
  }
  
  .underline {
    border-bottom: 1px solid var(--color-bg-variant);
    margin: 20px 0;
  }
  
  .wave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .wave svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 245px;
  }
  
  .wave .shape-fill {
    fill: var(--color-bg);
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 585px) {
    .grid {
      grid-template-columns: 1fr;
    }
    .grid-item form {
      display: flex;
      flex-direction: column;
    }
  
    .grid-item button {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 400px){
      footer{
          margin-top: 9rem;
      }
  }
  